.index-applications
  %h2 Applicaitons
  
  %ul.list
    %li
      %i.fa.fa-square-o
      = link_to "bbapi-naycot", "#"
    %li
      %i.fa.fa-square-o
      = link_to "bbapi-naycot", "#"
    %li
      %i.fa.fa-square-o
      = link_to "bbapi-naycot", "#"
    %li
      %i.fa.fa-square-o
      = link_to "bbapi-naycot", "#"

