.index-timeline     
  %h2 Timeline

  .event.rounded_box
    .time 
      %i.fa.fa-calendar
      Mon 05 May 2014 09:16:22 PM KST
    .application
      %i.fa.fa-play-circle-o
      = link_to "nacyot-bbapi", "#"
    .action Create new container.
    .user 
      %i.fa.fa-user
      = link_to "nacyot", "#"

  .event.rounded_box
    .time 
      %i.fa.fa-calendar
      Mon 05 May 2014 09:16:22 PM KST
    .application
      %i.fa.fa-play-circle-o
      nacyot-bbapi
    .action Create new container.
    .user 
      %i.fa.fa-user
      nacyot

  .event.rounded_box
    .time 
      %i.fa.fa-calendar
      Mon 05 May 2014 09:16:22 PM KST
    .application
      %i.fa.fa-play-circle-o
      nacyot-bbapi
    .action Create new container.
    .user 
      %i.fa.fa-user
      nacyot

  .event.rounded_box
    .time 
      %i.fa.fa-calendar
      Mon 05 May 2014 09:16:22 PM KST
    .application
      %i.fa.fa-play-circle-o
      nacyot-bbapi
    .action Create new container.
    .user 
      %i.fa.fa-user
      nacyot

  .event.rounded_box
    .time 
      %i.fa.fa-calendar
      Mon 05 May 2014 09:16:22 PM KST
    .application
      %i.fa.fa-play-circle-o
      nacyot-bbapi
    .action Create new container.
    .user 
      %i.fa.fa-user
      nacyot
