%h2 
  Applications
  %span.heading-suffix
    = link_to "Create", new_application_url
    %i.fa.fa-plus-square-o  

.applications
  - @apps.each do |app|
    = render partial: "applications/application", locals: {app: app, non_title: false}





